.gradient-text {
  background: -webkit-linear-gradient(360deg, rgba(254, 29, 47, 0.91), #ffbd31);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hotel-description {
  line-height: 19px;
  color: grey;
  font-size: 11px;
}
.my-nav {
  list-style-type: disc;
}
.details-header-background {
  background-image: url('https://wallpaperaccess.com/full/656684.jpg');
  background-color: #ccc;
  min-height: 30vh;
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.uuu {
  background-image: url('https://wallpaperaccess.com/full/656684.jpg');
  background-position: center;
  background-repeat: no-repeat;
  min-height: 20vh;
  height: 20vh;
  margin: 5px;
  background-size: cover;
  text-align: center;
  color: #fff;
  border-radius: 7px;
}
.divi {
  margin-top: 45px;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 22px;
}
.col img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}
